.Xf2efe6 {
  background-color: #f2efe6;
  color: #333;
}
.Xddf0ed {
  background-color: #ddf0ed;
  color: #333;
}
.Xc3bed4 {
  background-color: #c3bed4;
  color: #333;
}
.Xeee8ab {
  background-color: #eee8ab;
  color: #333;
}
.X7bbfea {
  background-color: #7bbfea;
  color: #333;
}
.Xfedcbd {
  background-color: #fedcbd;
  color: #333;
}
.X56718F {
  background-color: #56718f;
  color: #333;
}
.Xf2efe6 {
  background-color: #f2efe6;
  color: #333;
}
.XF0F8FF {
  background-color: #f0f8ff;
  color: #333;
}
.XF2CA5C {
  background-color: #f2ca5c;
  color: #333;
}
